{% extends "base.html" %}
{% block content %}

 <div class="container">
     <p>{{message}}</p>
  <h2>Aiheet</h2>   
  <table class="table">
    <thead>
      <tr>
        <th>Työn nimi</th>
        <th>Vaikeustaso</th>
        <th>Maksimiarvosana</th>
        <!--<th>Kurssi</th>-->
      </tr>
    </thead>
    <tbody>
      {% for aihe in aiheet %}
      <tr>
        <td><a href="{{base_path}}/aihe/{{aihe.id}}">{{aihe.nimi}}</a></td>
        <td>{{aihe.vaikeustaso}}</td>
        <td>{{aihe.maksimiarvosana}}</td>
        <!--<td><a href="{{base_path}}/kurssi/{{aihe.kurssi}}">{{aihe.kurssi}}</a></td>-->
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <form method="get" action="" class="form-inline">
    <div class="form group">
      <input name="search" class="form-control" placeholder="Hakusana" type="text">
    </div>
    <button type="submit" class="btn btn-default">Hae</button>
  </form>
  
  {% if user_logged_in %}
    <a href="{{base_path}}/aihe/uusi" class="btn btn-default">Lisää uusi aihe</a>
  {% endif %}
</div>
{% endblock %}