{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>{{suoritus.nimi}}</h1>

  <ul>
    <li><strong>Aihe:</strong><a href="{{base_path}}/aihe/{{aihe.id}}"> {{aihe.nimi}}</a></li>
    <li><strong>Tekijät:</strong>
        <ul>
            {% for t in tekijat %}
            <li><a href="{{base_path}}/opiskelija/{{t.id}}"> {{t.nimi}}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li><strong>Ohjaaja:</strong><a href="{{base_path}}/opettaja/{{ohjaaja.id}}"> {{ohjaaja.nimi}}</a></li>
    <!--<li><strong>Linkki harjoitustyöhön:</strong> linkki</li>-->
    <li><strong>Työmäärä tunteina:</strong> {{suoritus.tyomaara}}</li>
    <li><strong>Arvosana: </strong> {{suoritus.arvosana}}</li>
  </ul>

  <p>
    {{suoritus.kuvaus}}
  </p>

  {% if user_logged_in %}
    {{forms.destroy_button("#{base_path}/suoritus/#{suoritus.id}/poista")}}
    <a href="{{base_path}}/suoritus/{{suoritus.id}}/edit" class="btn btn-default">Muokkaa</a>
  {% endif %}
{% endblock %}