{% extends "base.html" %}
{% block content %}
<h1>Työaihetietokanta</h1>

 <div class="container">
  <h2>Aiheet</h2>            
  <table class="table">
    <thead>
      <tr>
        <th>Työn nimi</th>
        <th>Vaikeustaso</th>
        <th>Maksimiarvosana</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Drinkkikirjasto</td>
        <td>Keskitasoa</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Huutokauppa</td>
        <td>Haastavampi</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Äänestys</td>
        <td>Helppi</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
