{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
  <h1>{{aihe.nimi}}</h1>

  <ul>
    <li><strong>Kurssi:</strong> Tietokantasovellus</li>
    <li><strong>Vaikeustaso:</strong> {{aihe.vaikeustaso}}</li>
    <li><strong>Maksimiarvosana:</strong> {{aihe.maksimiarvosana}}</li>
  </ul>

  <p>
    {{aihe.kuvaus}}
      </p>
    {{forms.destroy_button("#{base_path}/aihe/#{aihe.id}/poista")}}
    <a href="{{base_path}}/aihe/{{aihe.id}}/edit" class="btn btn-default">Muokkaa aihetta</a>
    <a href="{{base_path}}/suoritus/uusi" class="btn btn-default">Lisää uusi suoritus</a>
	<h2>Suoritukset</h2>
	<table class="table">
    <thead>
      <tr>
        <th>Suoritus</th>
      </tr>
    </thead>
    <tbody>
      {% for suoritus in suoritukset %}
      <tr>
        <td><a href="{{base_path}}/suoritus/{{suoritus.id}}">{{suoritus.nimi}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}