{% extends "base.html" %}
{% block content %}

 <div class="container">
  <h2>Aiheet</h2>            
  <table class="table">
    <thead>
      <tr>
        <th>Työn nimi</th>
        <th>Vaikeustaso</th>
        <th>Maksimiarvosana</th>
      </tr>
    </thead>
    <tbody>
      {% for aihe in aiheet %}
      <tr>
        <td><a href="{{base_path}}/aihe/{{aihe.id}}">{{aihe.nimi}}</a></td>
        <td>{{aihe.vaikeustaso}}</td>
        <td>{{aihe.maksimiarvosana}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
