{% extends "base.html" %}
{% block content %}
  <h1>Painikkeet</h1>
  <button>Tavallinen painike</button>
  <button class="btn btn-default">Bootstrap painike</button>
  <button class="btn btn-primary">Bootstrap painike</button>
  <button class="btn btn-success">Bootstrap painike</button>
  <button class="btn btn-danger">Bootstrap painike</button>

  <h1>Tekstikentät</h1>
  <input placeholder="Tavallinen tekstikenttä" type="text">
  <input class="form-control" placeholder="Bootstrap tekstikenttä" type="text">

  <h1>Taulukot</h1>
  <table>
    <thead>
      <tr>
        <th>Tavallinen</th>
        <th>Taulukko</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
    </tbody>
  </table>

 <div class="container">
  <h2>Aiheet</h2>            
  <table class="table">
    <thead>
      <tr>
        <th>Työn nimi</th>
        <th>Vaikeustaso</th>
        <th>Maksimiarvosana</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Drinkkikirjasto</td>
        <td>Keskitasoa</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Huutokauppa</td>
        <td>Haastavampi</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Äänestys</td>
        <td>Helppi</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
