{% extends "base.html" %}
{% block content %}
  <h1>{{opiskelija.nimi}}</h1>

  <ul>
    <li><strong>Nimi:</strong> {{opiskelija.nimi}}</li>
    <li><strong>opiskelijanumero:</strong> {{opiskelija.opiskelijanumero}}</li>
  </ul>
  
  <table class="table">
    <thead>
      <tr>
        <th>Harjoitustyöt</th>
      </tr>
    </thead>
    <tbody>
      {% for harjoitus in harjoitustyot %}
      <tr>
        <td><a href="{{base_path}}/suoritus/{{harjoitus.id}}">{{harjoitus.nimi}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}