{% extends "base.html" %}
{% block content %}
  <h1>{{opiskelija.nimi}}</h1>

  <ul>
    <li><strong>Nimi:</strong> {{opiskelija.nimi}}</li>
    <li><strong>opiskelijanumero:</strong> {{opiskelija.opiskelijanumero}}</li>
  </ul>
  
  <h2>Harjoitustyöt</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Kurssi</th>
        <th>Nimi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tietokantasovellus</td>
        <td>Drinkkikirjasto</td>
      </tr>
      <tr>
        <td>Ohjelmoinnin harjoitustyö</td>
        <td>Laivanupotus</td>
      </tr>
    </tbody>
  </table>
{% endblock %}