{% extends "base.html" %}
{% block content %}
  <h1>Harjoitustyö</h1>

  <ul>
    <li><strong>Aihe:</strong><a href="{{base_path}}/aihe/{{aihe.id}}"> {{aihe.nimi}}</a></li>
    <li><strong>Tekijä:</strong><a href="{{base_path}}/opiskelija/{{tekija.id}}"> {{tekija.nimi}}</a></li>
    <li><strong>Ohjaaja:</strong><a href="{{base_path}}/opettaja/{{ohjaaja.id}}"> {{ohjaaja.nimi}}</a></li>
    <li><strong>Linkki harjoitustyöhön:</strong> linkki</li>
	  <li><strong>Arvosana: </strong> {{suoritus.arvosana}}</li>
  </ul>

  <p>
    {{suoritus.kuvaus}}
  </p>
{% endblock %}