{% extends "base.html" %}
{% block content %}
<h1>Muokkaa suoritusta</h1>
<ul>
    {% for error in errors %}
      <li>{{error}}</li>
    {% endfor %}
</ul>

<h2>{{tekija.nimi}}: {{aihe.nimi}}</h2>
<form method="post" action="{{base_path}}/suoritus/{{suoritus.id}}/edit">
    <div class="form-group">
        <label>Nimi</label>
        <input name="nimi" class="form-control" value="{{suoritus.nimi}}" type="text">
    </div>
    <div class="form-group">
        <label>Aihe</label>
        <select name="aihe" class="form-control" type=""text>
            {% for a in aiheet %}
            <option {% if aihe.nimi == a.nimi %} selected {% endif %}>{{a.nimi}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Tekijä</label>
        <select name="tekija" class="form-control" type="text">
            {% for o in opiskelijat %}
            <option {% if tekija.nimi == o.nimi %} selected {% endif %}>{{tekija.nimi}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Ohjaaja</label>
        <select name="ohjaaja" class="form-control" type="text"t>
            {% for o in opettajat %}
            <option {% if ohjaaja.nimi == o.nimi %} selected {% endif %}>{{o.nimi}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label>Työmäärä (tunteina)</label>
        <input name="tyomaara" class="form-control" value="{{suoritus.tyomaara}}" type="text">
    </div>
    <div class="form-group">
        <label>Kuvaus</label>
        <textarea name="kuvaus" class="form-control">{{suoritus.kuvaus}}</textarea>
    </div>
    <div class="form-group">
        <label>Arvosana</label>
        <select name="arvosana", class="form-control" type="text">
            {% for i in range(1, aihe.maksimiarvosana) %}
            <option {% if i == suoritus.arvosana %} selected {% endif %}>{{i}}</option>
            {% endfor %}
        </select>

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}